<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhd.zhdcorsnet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <!-- for  NetworkHelper isAvailable -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- for  HTTPClientHelper -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- for  write **gga file into sdcard -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- for isGpsOpen -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



</manifest>